@font-face {
    font-family: font1;
    src: url("./fonts/ClashDisplay-Bold.otf");
}

@font-face {
    font-family: fontR;
    src: url("./fonts/helvetica-regular.otf");
}

@font-face {
    font-family: fontB;
    src: url("./fonts/Helvetica-Bold-Font.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    scroll-behavior:smooth;
    user-select: none;
}

.cursor {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    position: fixed; /* This ensures it follows the viewport */
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: transform 0.2s ease-out;
    transform: translate(-55%, -55%); /* Ensures it's always centered */
}

#main {
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

li {
    list-style: none;
    font-family: 'fontB';
    text-transform: uppercase;
    mix-blend-mode: difference;
}

.left-nav h1 {
    font-family: 'font1';
}

/* nav bar complete */

.hero-text {
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16rem;
}

.hero-text h1 {
    font-family: "fontB", sans-serif;
    font-size: clamp(2rem, 8vw, 6rem); 
    line-height: 1.1;
    text-transform: uppercase;
}

.text {
    display: flex;
    flex-direction: column;
    position: relative;
}

.animate-circle {
    display: flex;
    align-items: center;
    position: absolute;
    right: -5%;
    bottom: -30%;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rotate {
    animation-name: spin;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-circle:hover .rotate {
    animation-duration: 5s;
}

.phone {
    background-color: #FF6161;
    width: 50px;
    height: 50px;
    padding: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* main section complete */

/* section 2 */

.section-curser {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'fontB';
    pointer-events: none;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

#section-2 {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5%;
}

.section-2-top-img {
    margin-left: 5rem;
}

.secion-2-top-text {
    display: flex;
    align-items: center;
    justify-content: center
}

#section-2 h1 {
    font-family: "font1";
    text-transform: uppercase;
    font-size: clamp(2rem, 8vw, 6rem); 
    padding-bottom: 1rem;
    line-height: 1;
}

/* section 2 cards */

.cards {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.card {
    width: 47.5%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.img {
    width: 100%;
    height: 95vh;
    border-radius: 1rem;
    overflow: hidden;
}

.img img {
    object-fit: cover;
}

.img img:hover {
    scale: 1.1;
}

.text h2 {
    font-family: "fontB";
    font-size: 4vw;
    text-transform: uppercase;
}

.text p {
    font-family: 'fontR';
    font-size: 1.5vw;
}

/* footer */ 

footer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    color: #fff;
    gap: 5rem;
}

footer h1 {
    font-family: "font1";
    text-transform: uppercase;
    font-size: clamp(2rem, 8vw, 6rem); 
    padding-bottom: 1rem;
}

footer h3 {
    font-family: "fontR";
    text-transform: uppercase;
    font-size: clamp(.5rem, 2vw, 2rem); 
    padding-bottom: 1rem;
}

.footer-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer button:nth-child(1) {
    padding: 1rem 2rem;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    font-family: "font1";
    font-size: 1.5vw;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

footer button:nth-child(1)::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .4s all ease-in-out;
    position: absolute;
    top: 0; left: 0%;
}

footer button:nth-child(1)::after{
    content: "HOP ON CALL";
    width: 100%;
    height: 100%;
    background-color: #FF6161;
    border-radius: 30px;
    transition: .4s all ease-in-out;
    position: absolute;
    top: 0; right: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer button:hover:nth-child(1)::after{
    right: 0;
}

footer button:hovernth-child(1)::before{
    left: 0;
}

footer button:nth-child(1):hover {
    cursor: pointer;
}

footer button:nth-child(2) {
    padding: 1rem 2rem;
    border: 1px solid #fff;
    background-color: none;
    color: #fff;
    border-radius: 50px;
    font-family: "font1";
    font-size: 1.5vw;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

footer button:nth-child(2)::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .4s all ease-in-out;
    position: absolute;
    top: 0; left: 0%;
}

footer button:nth-child(2)::after{
    content: "COPY EMAIL";
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
    transition: .4s all ease-in-out;
    position: absolute;
    top: 0; right: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border: none;
}

footer button:hover:nth-child(2)::after{
    right: 0;
}

footer button:hovernth-child(2)::before{
    left: 0;
}

footer button:nth-child(2):hover {
    cursor: pointer;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "fontB";
    font-size: 2vw;
    gap: 4rem;
}

/* css complete */

@media (max-width: 768px) {
    .right-nav {
        display: none;
    }
}